@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="bg-info text-white m-2 p-2">
    @await Component.InvokeAsync("EmployeeSummary", new { salary=45000})
</div>
<div class="bg-info text-white m-2 p-2">
    <vc:employee-summary salary=45000></vc:employee-summary>
</div>
